<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Password Reset</title>
</head>
<body class="flex flex-col min-h-screen bg-gray-300 font-sans antialised">
    <!-- Navbar -->
    <nav class="bg-purple-800 p-4 text-white flex justify-between">
        <div>
            <a class="text-3xl font-bold" href="/">AI Transcripts</a>
        </div>
        <div class="flex justify- between">
            <a href="/login" class="text-white hover:underline p-4">
                Login
            </a>
            <a href="/signup" class="text-white hover:underline p-4">
                Signup
            </a>
        </div>
    </nav>

    <br>
    
    <!-- login form -->
    <div class="flex-grow items-center mx-auto mt-20 px-4 sm:px-0">
        <div class="bg-white p-8 shadow-md rounded-lg max-w-md w-full">
            <div class="text-center space-y-4">
                <h2 class="text-2xl font-semibold mb-4">
                    Enter your new password!
                </h2>
                <p class="text-gray-600">Please enter your new password twice so we can verify you typed it in correctly.</p>
                <hr class="my-4 border-purple-300">
                <form class="space-y-4" action="" method="POST">
                    {% csrf_token %}

                    <div class="helptext" id="id_new_password1_helptext"><ul class="list-disc"><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></div>

                    <hr class="my-4 border-purple-300">

                    <div class="text-center space-y-4">
                        <label for="id_new_password1" class="text-gray-900">Enter new password:</label>
                        <input type="password" name="new_password1" autocomplete="new-password" required aria-describedby="id_new_password1_helptext" id="id_new_password1" placeholder="Your new password here!" class="flex-grow p-2 border border-purple-300 rounded-md">
                    </div>
                    <div class="text-center space-y-4">
                        <label for="id_new_password2" class="text-gray-900">Confirm Password:</label>
                        <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="Repeat your new password!" class="flex-grow p-2 border border-purple-300 rounded-md">
                    </div>
            </div>

                    <div class="mt-4">
                        <input type="Submit" name="Update Password" class="w-full bg-purple-600 text-white p-2 rounded-lg hover:bg-purple-800 cursor-pointer">
                    </div>
            </div>
        </div> 
    </div>
</body>
</html>